@theme {
  --color-*: initial;

  /* BASE */
  --color-white: #fff;
  --color-black: #000;
  --color-black-50: #00000050;
  --color-white-50: #ffffff50;
  --color-white-0: #ffffff00;

  /* GRAY */
  --color-gray-50: #ebeef5;
  --color-gray-100: #c9d2e3;
  --color-gray-200: #8191b1;
  --color-gray-300: #2c374e;
  --color-gray-400: #1c2436;
  --color-gray-500: #151b28;
  --color-gray-600: #0e121b;

  /* PURPLE */
  --color-purple-50: #c1c8ff;
  --color-purple-100: #9ba4ff;
  --color-purple-200: #7474ff;
  --color-purple-300: #5234f7;
  --color-purple-400: #4628da;
  --color-purple-500: #32258a;

  /* YELLOW */
  --color-yellow-50: #fff3ac;
  --color-yellow-100: #f9e56f;
  --color-yellow-200: #ffe233;

  /* BLUE */
  --color-blue-50: #daebfe;
  --color-blue-100: #9ccbff;
  --color-blue-200: #4ca1fe;

  /* GREEN */
  --color-green-50: #deffe8;
  --color-green-100: #9cf5b8;
  --color-green-200: #56d47e;

  /* RED */
  --color-red-50: #ffe9e9;
  --color-red-100: #ffcacb;
  --color-red-200: #fe8d79;
}
