@import "tailwindcss";
@import "./colors.css";
@import "./typos.css";
@import "./spacing.css";
@import "./border.css";

@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/scrollbar";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
